phpunit.xml
test-results.xml
coverage/
coverage-html/
coverage.xml
coverage.txt
.phpunit.cache/
.phpunit.result.cache
composer.phar
composer.lock
composer-test.lock
vendor/
build/artifacts/
artifacts/
docs/_build
docs/*.pyc
.idea
.DS_STORE